.courseCtnHeader {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.instructorPhoto {
  border-radius: 50%;
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.coursePageTitle {
  color: #333;
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  width: 100%;
}

.courseInstructorCtn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.courseInstructorCtn > div {
  border-right: 1px solid rgb(238, 238, 238);
  padding-left: 15px;
  padding-right: 15px;
}

.courseInstructor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}

.courseInstructorCtn h5 {
    font-size: 12px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 20px;
    flex: 1 100%;
}

.courseInstructorCtn h6 {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.reviews {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
}

.reviews i {
  color:#ffb606;
  font-size: 13px;
}

.buyCtn {
  display: flex;
  align-items: center;
}

.coursePagePrice {
  color: #f24c0a;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-right: 20px;
} 

.coursePageBuy {
  background-color: #f24c0a;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.coursePageBuy:hover {
  background-color: #b94213;
  text-decoration: none;
  color: #fff;
}

.courseCtnBody {
  text-align: center;
}

.courseIntro {
  border: 1px solid rgb(255, 182, 6);
  margin-bottom: 45px;
}

.courseOverview {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(51, 51, 51);
  font-family: "Roboto Slab";
  text-align: left;
}

.courseDescription {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.courseDescription ul {
  margin-left: 30px
}

.courseClassItems {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid rgb(209, 209, 209);
  padding: 12px 0;
}

.courseClassLecture {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #666;
  text-align: left;
  margin-right: 50px;
  
}

.courseClassLecture i {
  color: #ffb606;
  font-size: 15px;
  margin-right: 10px;
  display: inline-block;
  
}

.courseClassTitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.courseClassTitle a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.courseClassTitle span {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 30px;
  color: #999;
}

.courseFeatures h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(51, 51, 51);
  font-family: "Roboto Slab";
  margin-top: 20px;
}

.buyButton {
  background-color: #ffb606;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: bold;
  width: 60%;
}

.buyButton:hover {
  text-decoration: none;
}

.membershipButton {
  background-color: rgb(85, 83, 255);
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
  width: 60%;
}

.membershipButton:hover {
  text-decoration: none;
}

.purchaseButtons {
  margin-bottom: 20px;
}

.purchaseButtons h1 {
  font-size: 24px;
}

.buyMembershipPrice,
.buyCoursePrice {
  display: block;
}

.curriculumCtn {
  margin-top: 30px;
  margin-bottom: 50px;
}

