.courseLesson {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.courseLesson > .row {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
}

.vp-center {
    align-items: flex-start !important;
}

.courseLesson h1 {
    font-size: 20px;
    background-color: rgb(33, 35, 56);
    color: rgb(232, 232, 232);
    padding: 10px 20px;
    margin: 0;
}

.courseLesson .col-8 h1 {
    background-color: orange;
    text-align: center;
    color: rgb(33, 35, 56);
}

.courseLesson .col-4 {
    display: flex;
    flex-direction: column;
}

.courseLesson .col-4,
.courseLesson .col-8 {
    padding: 0;
}

.courseCurriculum {
    background-color: rgb(232, 232, 232);
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}

.lessonsCtn {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lesson {
    background: #f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
}

.lessonLink {
    text-decoration: none;
    color: rgb(33, 37, 41);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
}

.lessonLink:hover {
    text-decoration: none;
}

.lessonActive p {
    font-weight: bold;
}

.lesson p {
    margin: 0; 
}

.lesson i {
    margin-right: 15px;
}

.lessonComplete {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    
}

.lessonComplete:hover {
    cursor: pointer;
}

.lessonComplete i {
    font-size: 20px;
}

.lessonComplete i.complete {
    color: orange;
}

.currentLessonTitle {
    padding: 30px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.currentLessonTitle i {
    margin-right: 10px;
}

.currentLessonTitle p {
    margin: 0;
}

.videoIframe {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.videoIframe .vp-center {
    align-items: start !important;
    color: blue !important;
}

iframe {
    width: 100%;
}

.courseLinksCtn {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.courseLinksCtn > h1 i {
    margin-right: 10px;
}

.courseLinksCtn.backup {
    position: absolute;
}

.courseLinksCtn h1 {
    text-align: center;
}

.courseMainVideoCtn {
    flex: 1 1;
}

@media only screen and (max-width: 1280px) {
    iframe {
        height: 600px;
    }
}

@media only screen and (max-width: 1024px) {
    iframe {
        height: 530px;
    }

    .courseMainVideoCtn {
        width: 100%;
        height: 350px;
    }

    .courseMainVideoCtn > a {
        display: none;
    }

    .courseLinksCtn {
        width: 100%;
        order: 1;
    }
}

@media only screen and (max-width: 768px) {

    .videoIframe {
        padding: 0;
    }

    .courseMainVideoCtn {
        height: auto;
    }

    .lessonsCtn {
        padding: 20px 0;
    }

    .currentLessonTitle {
        padding: 30px 20px 15px;
    }

    .courseLinksCtn > h1 {
        font-size: 22px;
    }
}  

@media only screen and (max-width: 500px) {
    iframe {
        height: 210px;
    }

    .courseLinksCtn {
        margin-top: 10px;
    }

    .courseLinksCtn > h1 {
        font-size: 20px;
    }

    .courseCurriculum {
        font-size: 18px;
    }
    
}
