.main-container {
    background: linear-gradient(to bottom, #e3ffe7 0%, #d9e7ff 100%);
    flex: 1 1;
}

.courses {
    margin-top: 50px;
}

.courses .cardBorder {
    margin-bottom: 30px;
}

.preLoaderThumbnail {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseThumbnail > a {
    width: 100%;
}