footer {
  background-color: #002333;
  padding: 20px 15px 30px;
  display: flex;
  align-items: center;
}

.footerSocial {
  display: flex;
  justify-content: space-between;
}

.footerSocial a {
  padding: 5px 15px;
}

footer .footerSocialCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footerSocialCtn div {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.footerLogoSocialCtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 145px;
  margin-right: 40px;
  margin: 0;
  padding: 10px 0;
}

.footerEmail {
  padding: 10px 0;
  margin-right: 50px;
  color: #dcdee1;
  text-decoration: none;
  font-size: 13px;
}

.footerEmail > i {
  margin-right: 10px;
  color: #dcdee1;
}

.footerSocial i {
  font-size: 16px;
  color: #dcdee1;
}

.footerLinks {
  width: 340px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footerLinks a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

@media(min-width: 768px) {
  footer {
    padding: 20px 15px;
  }

  footer .footerLinks {
    margin: 0;
  }

  footer img {
    margin-right: 40px;
  }

  footer .footerSocialCtn .footerLogoSocialCtn {
    width: 300px;
    margin: 0;
  }

  footer .footerSocialCtn .footerLinks {
    width: 350px;
    margin: 0;
  }
}

/* @media(min-width: 768px) {
  .footerLogoSocialCtn {
    width: auto;
  }
}

@media(max-width: 500px) {
  footer {
    padding: 20px 15px 30px;
  }

  footer img {
    margin: 0;
  }

  footer .footerSocialCtn div {
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }

  footer .footerSocialCtn .footerLinks {
    margin-top: 20px;
  }
} */
