.loginCtn {
    background-color: #f5f6f7;
    flex: 1 1;
}

.loginTitle {
    text-align: center;
    color: #515a5f;
    padding-bottom: 22px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
}

.loginTitle i {
    margin-right: 10px;
}

.loginCtn .loginCard {
    margin-top: 70px;
    padding: 30px 45px;
}

.col-3 .card {
    margin-top: 20px;
    text-align: center;
}

.card form {
    width: 60%;
    margin: 0 auto;
}

.col-3 a {
    
    display: inline-block;
    font-size: 16px;
}

.loginCtn input {
    width: 100%;
}

.loginCtn h3 a {
    color: #000;
}

.loginError {
    background-color: #ea8383;
    padding: 10px 20px;
    margin-top: 20px;
}

.loginError h1 {
    font-size: 20px;
}