.forgotPasswordCtn {
    background: linear-gradient(to bottom, #e3ffe7 0%, #d9e7ff 100%);
    flex: 1 1;
}

.forgotPasswordTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.forgotPasswordCard {
    margin-top: 70px;
    padding: 30px 30px;
}

.card form {
    width: 60%;
    margin: 0 auto;
}

.forgotPasswordCtn input {
    width: 100%;
}

.forgotPasswordCtn h3 a {
    color: #000;
}

@media(min-width: 500px) {
    .forgotPasswordCard {
        margin-top: 70px;
        padding: 30px 45px;
    }
}