.profileCtn {
    flex: 1 1;
    background-color: #f4f4f4;
    padding-top: 50px;
}

.userAvatar {
    width: 200px;
}

.userLeftCol {
    text-align: center;
}

.userLeftCol h1{
    font-size: 24px;
    margin-top: 20px;
}

.userRightCol h1 {
    font-size: 24px;
    font-weight: bold;
}

#file {
    display: none;
}

.uploadButtonCtn {
    margin-top: 30px;
}

.uploadButton {
    display: inline-block;
    background-color: #00FF84;
    padding: 10px 20px;
    cursor: pointer;
}